<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{'password_management.change_password' | translate}}</h4>
                        <p class="card-category">{{'password_management.enter_password' | translate}}</p>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()" style="border: none;">
                            <div class="container">
                                <!-- <label for="oldPassword"><b>Old Password</b></label> -->
                                <mat-form-field class="password_form view-pass">
                                    <mat-label>{{'password_management.old_password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="oldPassword"
                                        [type]="hide ? 'password' : 'text'" name="oldPassword" id="oldPassword"
                                        required>
                                    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off'
                                        : 'visibility'}}
                                    </mat-icon>
                                </mat-form-field>
                                <div *ngIf="oldPassword.invalid && oldPassword.touched">
                                    <mat-error *ngIf="oldPassword.errors?.['required']">
                                        {{'password_management.enter_old_password' | translate}}
                                    </mat-error>
                                </div>

                                <!-- <label for="password"><b>New Password</b></label> -->
                                <mat-form-field class="input_text">
                                    <mat-label>{{'password_management.new_password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="password"
                                        [type]="hide ? 'password' : 'text'" name="password" id="password" required>
                                    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off'
                                        : 'visibility'}}
                                    </mat-icon>
                                </mat-form-field>
                                <div *ngIf="password.invalid && password.touched">
                                    <mat-error *ngIf="password.errors?.['required']">
                                        {{'password_management.enter_new_password' | translate}}
                                    </mat-error>
                                    <mat-error class="text-danger" *ngIf="password.errors?.['minlength']">
                                        {{'password_management.password_8_charachter' | translate}}
                                    </mat-error>
                                </div>

                                <!-- <label for="psw_repeat"><b>Confirm Password</b></label> -->
                                <mat-form-field class="input_text">
                                    <mat-label>{{'password_management.confirm_password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="psw_repeat" type="password"
                                        name="psw_repeat" id="psw_repeat" required>
                                </mat-form-field>
                                <div *ngIf="psw_repeat.invalid && psw_repeat.touched">
                                    <mat-error *ngIf="psw_repeat.errors?.['required']">
                                        {{'password_management.please_confirm_password' | translate}}
                                    </mat-error>
                                </div>
                                <div>
                                    <mat-error
                                        *ngIf="psw_repeat.valid && changeForm.invalid && changeForm.hasError('notSame')">
                                        {{'password_management.passwords_must_match' | translate}}
                                    </mat-error>
                                </div>

                                <button mat-stroked-button type="submit"
                                    class="button" class="pointer" [disabled]="changeForm.invalid">{{'add_activity_matching.submit' | translate}}<span
                                        class="material-icons">
                                        chevron_right
                                    </span></button>
                                <hr>
                            </div>
                            <br>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="font-weight: bold;">Seeds</h1>
                <h2>{{'password_management.grow_together' | translate}}</h2>
                <div class="card card-profile">
                    <img src="/assets/welcome.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>