<!-- <footer class="md-padding footer" style="border-radius: 1.5rem;">
    <div id="btmFooter" flex>
        <div class="footerContentLeft">
            <a class="footer-logo" herf routerLink="/home">
                <img src="assets/logo.png" alt="Let's Learn" width="60px">
            </a>
            <div class="copy-right">
                <span class="pointer" routerLink="/home">&copy; Seeds</span>
                <a [innerHTML]="'footer.privacy' | translate" style="text-decoration: underline;"></a>
            </div>
        </div>
        <div class="footerContent">
            <div class="pointer">
                <img class="sn" src="assets/facebook.svg">
                <img class="sn" src="assets/instagram.svg">
                <img class="sn" src="assets/twitter.svg">
            </div>
        </div>
        <div class="footerContentRight">
            <a herf routerLink="/policy/contact">{{'footer.contact' | translate}}</a>
            <a herf routerLink="/policy/faq">FAQ</a>
        </div>
    </div>
</footer> -->




<footer>
    <div class="row_footer primary">
        <div class="column links">
            <h3>About Us</h3>
            <ul>
                <li>
                    <a href routerLink="/policy/faq">F.A.Q</a>
                </li>
                <li>
                    <a href routerLink="/policy/privacy">Terms Of Service</a>
                </li>
                <li>
                    <a href routerLink="/policy/privacy">Cookies Policy</a>
                </li>
                <li>
                    <a href routerLink="/policy/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="column links">
            <h3>Services</h3>
            <ul>
                <li>
                    <a href routerLink="/user/viewAll">View Topics</a>
                </li>
                <li>
                    <a href routerLink="/user/add">Add Topics</a>
                </li>
                <li>
                    <a href routerLink="/authenticate/register">Make account</a>
                </li>
            </ul>
        </div>

        <!-- <div class="column subscribe">
            <h3>Newsletter</h3>
            <div>
                <input type="email" placeholder="Your email id here" />
                <button>Subscribe</button>
            </div>

        </div> -->
        <div class="column about">

            <h3>Seeds</h3>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.
            </p>

            <div class="social">
                <img class="footer-img" src="assets/facebook.svg">
                <img class="footer-img" src="assets/instagram.svg">
                <img class="footer-img" src="assets/twitter.svg">
            </div>
            <p class="copyright">Copyright &copy; 2022 Seeds</p>

        </div>

    </div>

    <!-- <div class="row copyright">
        <div class="footer-menu">

            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Help</a>
        </div>
    </div> -->
</footer>