<div class="main">
    <div class="container-fluid">
        <div class="home">
            <h1></h1>
            <p>Welcome to SEED! The corona pandemic has uncovered a number of systemic inequalities with regard to education and access to learning opportunities. Across countries and settings in the EU, the necessity to resort to the digital sphere with learning has shown that it is not equally possible for all members of a society to follow suit. Particularly vulnerable groups, including people with a migration background, people with a refugee background, or non-native speakers, who were already having a difficult experience before. These groups have now been even more strongly left behind in terms of education.</p>
            <!-- <br>
            <br>
            <h1>Spread knowledge together</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <br> <br>
            <h1>Why join us?</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <br>
            <br> -->
        </div>
        <br>
        <br>
    </div>
    <br> <br>
    <div class="image">
        <div>
            <h1>Let's teach together</h1>
            <p>•	Working with social workers as well as the newly emerged profession of cultural mediators who is acting as a bridge towards municipalities and local educational institutions, such as schools, and extending their personal reach-out towards the digital sphere by means of chatbots, the SEEDS project proposes a combination of social and digital outreach to mitigate this effect. Needed learning contents will be communicated in a new way by means of chatbots, where municipalities and educational institutions can create learning materials in a pre-defined processes, and cultural mediators, social workers, or individual learners themselves can access the learning material that teachers created, to enhance the learners’ educational experience.</p>
        </div>
        <img src="assets/teach1.jpg">
    </div>
</div>