<div @viewAnimation>
    <div class="content" role="main">
        <div class="card">
            <input (keyup)="searchData($event)" type="text" class="form-control" placeholder="Search"
                aria-label="Searchbox" aria-describedby="basic-addon1">
            <div *ngFor="let topic of topics">
                <span [routerLink]="['/material/view/', topic._id]" class="pointer">{{topic.topic}}</span>
            </div>
        </div>
    </div>
    <h2 style="color: black;">Topics list:</h2>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topic Name</th>
                    <th>Country</th>
                    <th>Language</th>
                    <th>Grade</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody [@fadeIn] *ngIf="topic.length > 0">
                <tr *ngFor="let topics of ( topic| slice: lowValue : highValue); let i = index">
                    <td>{{ topics.topic }}</td>
                    <td>{{ topics.country }}</td>
                    <td>{{ topics.language }}</td>
                    <td>{{ topics.grade }}</td>
                    <td>
                        <button mat-stroked-button class="button" class="pointer"
                            [routerLink]="['/material/view/', topics._id]">View</button>
                    </td>
                    <td><button mat-stroked-button class="button" class="pointer"
                            (click)="onDelete(topics._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [length]="topic.length" [pageSize]="10"  (page)="getPaginatorData($event)" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>
</div>