<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{'password_management.reset_password' | translate}}</h4>
                        <p class="card-category">{{'password_management.enter_new_password' | translate}}</p>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" style="border: none;">
                            <div class="container">
                                <!-- <label for="password"><b>Password</b></label> -->
                                <mat-form-field class="password_form view-pass">
                                    <mat-label>{{'login_page.password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="password"
                                        [type]="hide ? 'password' : 'text'" name="password" id="password" required>
                                    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off'
                                        : 'visibility'}}
                                    </mat-icon>
                                </mat-form-field>
                                <mat-error *ngIf="(!resetForm.valid && resetForm.get('password')?.errors) && 
                                (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
                                    <div>
                                        {{'password_management.password_8_charachter' | translate}}
                                    </div>
                                </mat-error>
                                <br>
                                <!-- <label for="psw_repeat"><b>Confirm password</b></label> -->
                                <mat-form-field class="input_text">
                                    <mat-label>{{'password_management.confirm_password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="psw_repeat" type="password"
                                        name="psw_repeat" id="psw_repeat" required>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="(!resetForm.valid && resetForm.get('psw_repeat')?.errors) && (resetForm.get('psw_repeat')?.dirty || resetForm.get('psw_repeat')?.touched)">
                                    <div>
                                        {{'password_management.please_confirm_password' | translate}}
                                    </div>
                                </mat-error>
                                <mat-error *ngIf="resetForm.hasError('notSame')">
                                    <div>
                                        {{'password_management.passwords_must_match' | translate}}
                                    </div>
                                </mat-error>
                                <button mat-stroked-button type="submit" class="button" class="pointer"
                                    [disabled]="resetForm.invalid">{{'add_activity_matching.submit' | translate}}<span class="material-icons">
                                        chevron_right
                                    </span></button>
                                <hr>
                            </div>
                            <br>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="font-weight: bold;">{{'login_page.Seeds' | translate}}</h1>
                <h2>{{'login_page.Seeds_text' | translate}}</h2>
                <div class="card card-profile">
                    <img src="/assets/welcome_img.png">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>