<!-- <div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Material</h4>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="choose-material" *ngFor="let item of type">
                            <li [routerLink]="['/material/mcqs/', item._id]" class="pointer">{{item.questionType}}</li>
                        </div>
                        <br>
                        <div class=" signin">
                            <p style="font-size: 20px;">Please choose your category.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <img src="/assets/welcome.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br> -->

<div class="main-content">
    <!-- <div *ngIf="totalNumberOfQuestions === 0">
        <a routerLink="/user/profile"></a>
        All Questions has been submitted
    </div> -->
    <div class="container" *ngFor="let items of this.arr; let i=index">
        <div *ngIf="ifSubmitted[i]"> Question has been Submitted
            <meta http-equiv="refresh" content="0.01">
        </div>

        <div *ngIf="!ifSubmitted[i]">
            <mat-label><b>Please select type of activity.</b></mat-label>
            <br>
            <br>
            <mat-form-field appearance="fill">
                <mat-label> Choose type</mat-label>
                <mat-select [(ngModel)]="selectedValue[i]">
                    <mat-option [value]="item.questionType" *ngFor="let item of type">
                        {{item.questionType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div *ngIf="selectedValue[i] === 'MCQS'">
                <app-mcqs (submitEvent)="setSubmit($event, i)"></app-mcqs>
            </div>

            <div *ngIf="selectedValue[i] === 'True False'">
                <app-true-false (submitEvent)="setSubmit($event, i)"></app-true-false>
            </div>

            <div *ngIf="selectedValue[i] === 'Open Ended Question'">
                <app-open-ended (submitEvent)="setSubmit($event, i)"></app-open-ended>
            </div>

            <div *ngIf="selectedValue[i] === 'Introduction'">
                <app-introduction (submitEvent)="setSubmit($event, i)"></app-introduction>
            </div>

            <div *ngIf="selectedValue[i] === 'Match pairs'">
                <app-match-pairs (submitEvent)="setSubmit($event, i)"></app-match-pairs>
            </div>
        </div>
        <br>
    </div>
    <!-- <div></div> -->
</div>