.main_page {
    padding-left: 3rem;
    // padding: 10px 10px 10px;
    .form-inline {
        .form-control {
            padding: 10px 10px 10px;
            background-color: #004e92;
            color: white;
            border-radius: 1rem;
        }
    }
}