<app-header></app-header>


<div class="main_page">
  <span>Change Language</span>
  <span class="form-inline">
    <select   
  class="form-control"   
  #selectedLang    
  (change)="switchLanguage(selectedLang.value)">  
        <option *ngFor="let language of translate.getLangs()"    
  [value]="language"    
  [selected]="language === translate.currentLang">    
  {{ language }}    
  </option>  
    </select>  
  </span>  
</div>

<!-- <div class="main_page">
  <span>Change Language</span>
  <span class="form-inline">
    <mat-select class="material-icons"arrow_drop_down
  class="form-control"   
  #selectedLang    
  (change)="switchLanguage(selectedLang.value)">  
        <mat-option *ngFor="let language of translate.getLangs()"    
  [value]="language"    
  [selected]="language === translate.currentLang">    
  {{ language }}    
  </mat-option>  
    </mat-select>  
  </span>  
</div> -->

<router-outlet></router-outlet>

<app-footer></app-footer>