<div class="container" role="main">
    <div class="login">


        <form [formGroup]="mcqsForm">
            <div>
                <mat-label>Please enter the question.</mat-label>
                <ul>
                    <textarea type="text" name="mcqs" id="mcqs" formControlName="mcqs" required> </textarea>

                </ul>
                <input id="file" type='file' (change)="processFile($event)">

            </div>
            <div class="options">
                <mat-label>
                    Please enter the options.
                </mat-label>
                <ul>
                    <!-- <li> -->
                    <input type="text" name="option1" id="option1" formControlName="option1" required>
                    <!-- </li> -->
                    <!-- <li> -->
                    <input type="text" name="option2" id="option2" formControlName="option2" required>
                    <!-- </li> -->
                    <!-- <li> -->
                    <input type="text" name="option3" id="option3" formControlName="option3" required>
                    <!-- </li>
                <li> -->
                    <input type="text" name="option4" id="option4" formControlName="option4" required>
                    <!-- </li> -->
                </ul>
            </div>
            <div class="options">
                <mat-label>
                    Please enter the correct answer.
                    <ul>
                        <!-- <li> -->
                        <input type="text" name="answer" id="answer" formControlName="answer" required>

                        <!-- </li> -->
                    </ul>
                </mat-label>
                <button mat-stroked-button type="submit" (click)="onSubmit()"
                    style="width: 40%; text-align: center; font-size: px;">SUBMIT</button>
            </div>

            <div *ngFor="let question of mcqs; let i = index">
                <div class="question">
                    <h2>{{ question.mcqs }}</h2>
                </div>
                <img src="{{imageBlobUrl}}">
                <!-- <img src="getImage()"> -->

                <!-- <button (click)="getImage()">image</button> -->
                <mat-radio-group>
                    <ul>
                        <li>
                            <h4>
                                <mat-radio-button value="1">{{ question.option1 }}</mat-radio-button>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <mat-radio-button value="2">{{ question.option2 }}</mat-radio-button>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <mat-radio-button value="3">{{ question.option3 }}</mat-radio-button>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <mat-radio-button value="4">{{ question.option4 }}</mat-radio-button>
                            </h4>
                        </li>
                    </ul>
                </mat-radio-group>
                <button (click)="onDelete(question._id)">Delete</button>
                <!-- <button>Update</button> -->
            </div>
        </form>
    </div>

</div>
<br>
<br>