<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create True/False Question</h4>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="trueFalseForm">
                            <div class="textarea">
                                <mat-label>Please enter the Question Statement.</mat-label>
                                <ul>
                                    <textarea type="text" name="question" id="question" formControlName="question"
                                        required rows="4" cols="50"> </textarea>
                                </ul>
                            </div>
                            <!-- <div class="options">
                                <mat-label>
                                    Please enter the correct answer either is it true or false.
                                </mat-label>
                                <ul>
                                    <input type="text" name="answer" id="answer" formControlName="answer" required>
                                </ul>
                            </div>
                            <button mat-stroked-button [disabled]="trueFalseForm.invalid" type="submit"
                                (click)="onSubmit()"
                                style="width: 40%; text-align: center; font-size: px;">SUBMIT</button> -->
                                <div>
                                    <mat-label>
                                        Please enter the correct answer.
                                        <ul class="answers">
                                            <span>Answer (true/false):</span><input type="text" name="answer" id="answer"
                                                formControlName="answer" required>
                                        </ul>
                                    </mat-label>
                                    <div class="feedback">
                                        <div class="feedback__step">
                                            <mat-label>Feedback, if the answer is correct:</mat-label>
                                            <textarea type="text" name="posFeedback" id="posFeedback"
                                                formControlName="posFeedback" required> </textarea>
                                        </div>
                                        <div class="feedback__step">
                                            <mat-label>Feedback, if the answer is incorrect:</mat-label>
                                            <textarea type="text" name="negFeedback" id="negFeedback"
                                                formControlName="negFeedback" required> </textarea>
                                        </div>
                                    </div>
                                    <button mat-stroked-button [disabled]="trueFalseForm.invalid" type="submit"
                                        (click)="onSubmit()"
                                        style="width: 40%; text-align: center; font-size: px;">Create</button>
                                </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>