<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{'password_management.forgot_password_q' | translate}}</h4>
            <p class="card-category">{{'login_page.email_error' | translate}}</p>
          </div>
          <br>
          <div class="card-body">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" style="border: none;">
              <div class="container">
                <!-- <label for="email"><b>Email</b></label> -->
                <mat-form-field class="input_text">
                  <mat-label>{{'login_page.email' | translate}}</mat-label>
                  <input class="input_form" matInput formControlName="email" type="text" name="email" id="email"
                    required>
                </mat-form-field>
                <mat-error
                  *ngIf="(!forgotForm.valid && forgotForm.get('email')?.errors) && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)">
                  <div>
                    {{'register_page.valid_email' | translate}}
                  </div>
                </mat-error>
                <button mat-stroked-button type="submit" class="button"
                  class="pointer" [disabled]="forgotForm.invalid">{{'add_activity_matching.submit' | translate}}<span class="material-icons">
                    chevron_right
                  </span></button>
                <hr>
              </div>
              <br>
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h1 style="font-weight: bold;">{{'login_page.Seeds' | translate}}</h1>
        <h2>{{'login_page.Seeds_text' | translate}}</h2>
        <div class="card card-profile">
            <img src="/assets/welcome_img.png">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>