<div class="neutrality" >
    <div class="edit-profile__avatar faq-title">
        <img src="assets/faq.png" alt="avatar">
        <h1>FAQ</h1>
    </div>
</div>
<div class="container">
    <div class="edit-profile faq">
        <div class="edit-profile__settings edit-profile__settings--faq">
            <div>

                <!-- <div class="settings-tabs">
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link"
                            [active]="activeLink == link"> {{link}} </a>
                    </nav>
                </div> -->

                <div class="setting-content">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title >
                                    What is SEEDS?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>SEEDS is a project for supporting learning and education on the fringe of the digital
                                sphere. Due to the lack of access to educational institutions and little or no equipment
                                (Tablets, or Laptops and PCs) with necessary digital technologies, young people found it
                                difficult to follow classes. ICT and above all the smartphone can be used here to
                                mitigate this deficit. The needs and challenges of the target group must be taken into
                                account (i.e. no up-to-date smartphones with outdated software). Our idea is to
                                communicate learning content to vulnerable people in a new way by using chat bots.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Who is funding SEEDS project?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>SEEDS is funded by ERASMUS+ DIGITAL EDUCATION - Creating digital education tools for
                                vulnerable
                                persons (CreaDeVuP).</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    What is the project's website?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>You can visit us on: https://seeds.wineme.wiwi.uni-siegen.de</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How can I contact the team?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>You can contact us using our email: seeds.members@listserv.dfn.de</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <mat-accordion *ngIf="activeLink == links[1]">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion *ngIf="activeLink == links[2]">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion *ngIf="activeLink == links[3]">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is a question?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>This is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer This is the answer This is the answer This
                                is the answer This is the answer This is the answer This is the answer This is the
                                answer This is the answer This is the answer .</p>
                        </mat-expansion-panel>
                    </mat-accordion> -->
                </div>
            </div>
        </div>
    </div>
</div>