<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>FAQ PAGE</title>
</head>
  <body>
      <main>
          <h1 class="faq-heading">FAQs</h1>
          <section class="faq-container">
              <div class="faq-one">
                  <!-- faq question -->
                  <h1 class="faq-page">What is SEEDS?</h1>
                  <!-- faq answer -->
                  <div class="faq-body">
                      <p>SEEDS is a project for supporting learning and education on the fringe of the digital sphere. Due to the lack of access to educational institutions and little or no equipment (Tablets, or Laptops and PCs) with necessary digital technologies, young people found it difficult to follow classes. ICT and above all the smartphone can be used here to mitigate this deficit. The needs and challenges of the target group must be taken into account (i.e. no up-to-date smartphones with outdated software). Our idea is to communicate learning content to vulnerable people in a new way by using chat bots</p>
                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-two">
                  <!-- faq question -->
                  <h1 class="faq-page">Who is funding SEEDS project?</h1>
                  <!-- faq answer -->
                  <div class="faq-body">
                      <p>SEEDS is funded by ERASMUS+ DIGITAL EDUCATION - Creating digital education tools for vulnerable persons (CreaDeVuP).</p>
                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-three">
                  <!-- faq question -->
  <h1 class="faq-page"> What is the project's website?</h1>
                  <!-- faq answer -->
                  <div class="faq-body">
                      <p>You can visit us on: https://seeds.wineme.wiwi.uni-siegen.de</p>
                  </div>
              </div>
            <hr class="hr-line">
              <div class="faq-three">
                  <!-- faq question -->
  <h1 class="faq-page"> How can I contact the team?</h1>
                  <!-- faq answer -->
                  <div class="faq-body">
                      <p>You can contact us using our email: seeds.members@listserv.dfn.de</p>
                  </div>
              </div>
          </section>
      </main>
  </body>

