/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
@import "~@angular/material/_theming";
@include mat-core();

$quiz_app-primary: mat-palette($mat-blue);
$quiz_app-accent: mat-palette($mat-green);
$quiz_app-warn: mat-palette($mat-red);

$quiz_app-theme: mat-light-theme($quiz_app-primary, $quiz_app-accent, $quiz_app-warn);
@include angular-material-theme($quiz_app-theme);

//for dark theme
$quiz_app-primary-dark: mat-palette($mat-orange);
$quiz_app-accent-dark: mat-palette($mat-yellow);
$quiz_app-warn-dark: mat-palette($mat-red);

$quiz_app-theme-dark: mat-dark-theme($quiz_app-primary-dark, $quiz_app-accent-dark, $quiz_app-warn-dark);
.dark-theme-mode {
    @include angular-material-theme($quiz_app-theme-dark);
}
@import '~font-awesome/css/font-awesome.css';
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/brands";
// @import "~@fortawesome/fontawesome-free/scss/regular";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/v4-shims";

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./scss/mixin_colors";
@import "./scss/header.scss";
@import "./scss//footer.scss";
@import "./scss/home.scss";
@import "./scss//login.scss";
@import "./scss//register.scss";
@import "./scss//forgot_password.scss";
@import "./scss//profile.scss";
@import "./scss//material_theme.scss";
@import "./scss//add-material.scss";


html,
body {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-label {
    color: black;
    font-weight:500;
}

.blue-snackbar {
    background: #004e92;
    color: white;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}